<div class="filters">
  <h3>Filter students</h3>

  <ul class="btn-selector btn-selector-multi locations">
    <li class="label">Locations they're interested in</li>
    <% Location.all.sort_by{|l| l.name}.each do |location| %>
      <li data-location='<%= location.slug %>'><a><%= location.name %></a></li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(function() {

    var locations = new Locations(".locations li");
    var students = new Students(["ul.students li","ul.students-thumbs li"]);

  });
</script>