<section class="main student">
  <div class="wrapper">

      <aside>
        <h1>gSchool</h1>
        <%= partial "student_filters" %>
      </aside>

      <article>

        <ul class="thumb-nav">
          <% Student.all.each do |student| %>
            <li>
              <%= link_to image_tag(student.image_url), "##{student.slug}" %>
            </li>
          <% end %>
        </ul>

        <ul class="team">
          <%= partial "summary/student", collection: Student.all %>
        </ul>

      </article>

  </div>
</section>