<section class="main student">
  <div class="wrapper">

      <aside>
        <h1>gSchool</h1>
        <%= partial "student_filters" %>
      </aside>

      <article>

        <ul class="students-thumbs">
          <%= partial "thumbnail/student", collection: Student.all %>
        </ul>

        <div style="clear: both;"></div>

        <ul class="students">
          <%= partial "summary/student", collection: Student.all %>
        </ul>

      </article>

  </div>
</section>